body {
	background-color: #ffe7c4;
	color: black;
	text-align: left;
	overflow: auto;
}

div {

}

/* Page heading */
h1 {
	
	color: maroon;
	font-family: "Georgia", serif; 
	font-style: italic;
	font-variant: small-caps;
	text-decoration: underline;
	text-align: center;
}

/* Section heading */
h2 {
	margin-left: 25px;
	margin-right: 25px;
	color: darkslategrey;
	font-family: "Georgia", serif;
}

/* Inner section heading */
h3 {
	color: darkslategrey;
	font-family: "Georgia", serif;
	margin-left: 50px;
	margin-right: 50px;
}

/* Santa Clara disclosure */
h6 {
	
}

li {
	font-family: Helvetica, sans-serif; 
}

a {
	font-family: Helvetica, sans-serif;
}

p {
	font-family: Helvetica, sans-serif;
	margin-left: 50px;
	margin-right: 50px;
	text-align: justify;
}

var {
	font-family: "Georgia", serif;
}

pre {
	font-family: Helvetica, sans-serif;
	margin-left: 25px;
	margin-right: 50px;
}

code {
	font-family: "Lucida Console", Monaco, monospace; 
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto
}

table {
	font-family: Helvetica, sans-serif;
	font-weight: normal;
	margin-left: 50px;
	margin-right: 50px;
}

/* Here are the link specifications */
a:link {
	font-weight:bolder; 
	color:darkslategrey; 
	background-color:transparent; 
	text-decoration:underline; 
	text-decoration-style:dotted;
}

a:visited {
	font-weight:bolder; 
	color:darkslategrey; 
	background-color:transparent; 
	text-decoration:underline; 
	text-decoration-style:dotted;
}

a:hover {
	font-weight:bolder; 
	color:black; 
	background-color:yellow; 
	background-text-decoration:underline; 
	text-decoration-style:dotted;
}

.disclaimer {
    /*position: fixed;
    bottom: 0;*/
    color: darkslategrey;
	font-family: "Lucida Sans Unicode", sans-serif;
	font-weight:normal;
	margin-left:10px;
	margin-right:10px;
}

.maxWidth {
	width: 60%;
	position: relative;
	left: 50%;
	height: 100%;
	margin-left: -30%;
	
}

.thLink {
	font-family: Helvetica, sans-serif;
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 0px;
	border-width: 1px;
}

.thInfo {
	font-family: Helvetica, sans-serif;
	padding-left: 0px;
	border-bottom: solid;
	border-width: 1px;
	font-weight: normal;
	text-align: justify;
}