body {
	
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #fefdfb , #5b7cb2, #fefdfb); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #fefdfb, #5b7cb2, #fefdfb); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #fefdfb, #5b7cb2, #fefdfb); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #fefdfb , #5b7cb2, #fefdfb); /* Standard syntax */
	

	/*background-color: #dfecec;
	color: black;
	text-align: left;
	overflow: auto;
	margin-top: 0px;
	margin-bottom: 0px;*/
}

div {

}

/* Page heading */
h1 {
	color: maroon;
	font-family: "Georgia", serif; 
	font-style: italic;
	font-variant: small-caps;
	text-decoration: underline;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 16px;
}

/* Section heading */
h2 {
	margin-left: 25px;
	margin-right: 25px;
	color: darkslategrey;
	font-family: "Georgia", serif;
}

/* Inner section heading */
h3 {
	color: darkslategrey;
	font-family: "Georgia", serif;
	margin-left: 50px;
	margin-right: 50px;
}

/* Santa Clara disclosure */
h6 {
	
}

li {
	font-family: Helvetica, sans-serif; 
}

a {
	font-family: Helvetica, sans-serif;
}

p {
	font-family: Helvetica, sans-serif;
	font-size: 2vh;
	margin-left: 50px;
	margin-right: 50px;
	/*text-align: justify;*/
}

var {
	font-family: "Georgia", serif;
}

pre {
	font-family: Helvetica, sans-serif;
	margin-left: 25px;
	margin-right: 50px;
}

code {
	font-family: "Lucida Console", Monaco, monospace; 
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto
}

table {
	font-family: Helvetica, sans-serif;
	font-weight: normal;
	margin-left: 50px;
	margin-right: 50px;
}

/* Here are the link specifications */
a:link {
	font-weight:bolder; 
	color:darkslategrey; 
	background-color:transparent; 
	text-decoration:underline; 
	text-decoration-style:dotted;
}

a:visited {
	font-weight:bolder; 
	color:darkslategrey; 
	background-color:transparent; 
	text-decoration:underline; 
	text-decoration-style:dotted;
}

a:hover {
	font-weight:bolder; 
	color:black; 
	background-color:yellow; 
	background-text-decoration:underline; 
	text-decoration-style:dotted;
}

.disclaimer {
    /*position: fixed;
    bottom: 0;*/
    color: darkslategrey;
	font-family: "Lucida Sans Unicode", sans-serif;
	font-weight:normal;
	margin-left:10px;
	margin-right:10px;
}

.maxWidth {
	width: 60%;
	position: relative;
	left: 50%;
	height: 100%;
	margin-left: -30%;
	
}

.thLink {
	font-family: Helvetica, sans-serif;
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 0px;
	border-width: 1px;
}

.thInfo {
	font-family: Helvetica, sans-serif;
	padding-left: 0px;
	border-bottom: solid;
	border-width: 1px;
	font-weight: normal;
	text-align: justify;
}

.mainDiv {
	border-radius: 10px;
	border-style: solid;
	border-color: #696969;
	width: 70vw;
	margin: auto;
	position: relative;
	background-color: white;
	margin-top: 85px;

	margin-bottom: 5vh;
}

.headerDiv {
	top: 0;
	left: 0;
	position: fixed;
	z-index: 1000;
	width: 100vw;
	height: 70px;
	background-color: #696969;
	text-align: center;
}

.head {
	font-family: monospace;
	font-weight: bold; 
	font-size: 36px;
	margin: 0;
	margin-top: 17px;
	margin-bottom: 17px;
	display: inline-block;
}

.headerDiv2 {
	background-color: #e3dacf;
	position: relative;
	width: 40%;
	margin-top: -12.5%;
	margin-left: -25%;
	border: solid;
	border-color: darkslategrey;
	border-width:1px;
	margin: 0 auto;
	height: 70%;
	top: 15%;
	opacity: 0.75;
}



/*Main Index*/
.indexBody {
	background-image: url("../resources/background1.jpg");
	background-size: cover;
	text-align: center;
}

.indexDiv {
	background-color: #e3dacf;
	border: solid;
	border-color: darkslategrey;
	margin: 0 auto;
}

.indexDiv2 {
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;

	background-color: rgba(227,218,207,0.5);
	position: fixed;
	top: 50vh;
	left: 50vw;
	padding:5px;
	margin-top: -12.5%;
	margin-left: -25%;
	border: solid;
	border-color: darkslategrey;
	border-width:1px;
	margin: 0 auto;
	transform: translate(-50%, -50%);
}


.indexH1 {
	font-size: 400%;
}

.indexP {
	font-family: Helvetica, sans-serif;
	color: darkslategrey;
	font-size: large;
	text-align: center;
}

.headerP {
	font-family: Helvetica, sans-serif;
	color: darkslategrey;
	font-size: 1.6vh;
	text-align: center;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 5%;
}

.indexDisclaimer {
	-webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;

	text-align: left;
    position: fixed;
    bottom: 0;
    color: #ffffff;
	font-family: "Lucida Sans Unicode", sans-serif;
	font-weight:normal;
	margin-left:10px;
	margin-right:10px;
}

#fade p {
    text-align: center

    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

/* Fade ID */
#fade h1 {
    text-align: center;

    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

#header a {
	font-size: 50vw;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}